
.navbar {
  width: 100%;
  height: max-content;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  

    i {
      margin-bottom: 20px;
      transform: rotate(-45deg);
      color: var(--black) !important;
    }
   
  }

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 8%;
  
  .board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: var(--white);
    border-collapse: collapse;
    
  }

  .captures {
    width: max-content;
    display: flex;
    font-family: "NeueMachina-Regular";
    width: 20%;
    
    h1 {
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      text-align: center;
    }
    p {
      color: var(--primary);
      font-family: "NeueMachina-Ultrabold";
      font-size: 60px;
      -webkit-text-stroke: 3px var(--black);
    }
  }
  .btn {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    
    button {
      font-family: "NeueMachina-Light";
      border-radius: 10px;
      border: 1.5px solid var(rgb(0, 0, 0));
      padding: 19px 30px;
      font-size: 27px;
      font-style: normal;
      font-weight: 400;
      background: var(#c4dea6);
      transition: 0.3s ease;
      &:hover {
        position: relative;
        transform: translate(6px, -4px);
        background: var(--white);
        box-shadow: -4px 6px 0px 1px #000000;
      }
    }
  }
}
